/* Variables */

:root {
  --color-brow-default: #766357;
  --color-brow-hover: #604E43;
  --color-brow-active: #503E33;
  --color-pale-brow: #6A6A6A;
  --color-brow-button: #503E33;
  --color-blue: #81B3D2;
  --color-blue-button: #669EC0;
  --color-blue-active: #5496BD;
  --color-dark-brow: #333333;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #EEEEEE;
  --color-ligth-grey: #A9A9A9;
  --color-ultra-light-grey: #CACACA;
  --color-text-active: rgba(255, 255, 255, 0.3);
  --color-dark-white: #F2F2F2;
  --color-dark-grey: #666666;
  --color-form-grey: #EBEBEB;
  --main-font-family: PT Sans, Arial, sans-serif; 
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--color-white);
  min-height: 100%;
  min-width: 1200px; 
}

.index-grid {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}


.main-container {
  display: grid;
}


/* User navigation */



.site-navigation {
 display: flex;
 flex-wrap: wrap;
 padding: 20px 0 20px 0;
 align-items: center;
 margin: 0;
}

.site-navigation li {
  width: 25%;
  box-sizing: border-box;
}

.site-navigation li:last-child,
.site-navigation li:nth-last-child(2) {
  text-align: right;
}

.site-navigation li:last-child {
  padding-right: 72px;
}

.site-navigation li:first-child {
  padding-left: 72px;
}

.main-header .main-header-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.site-navigation a:hover {
  color: var(--color-blue);
}

.site-navigation a:focus {
  color: var(--color-ultra-light-grey);
}

.main-navigation a {
  text-decoration: none;
  color: var(--color-black)
}


.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
}

.promo-content {
  width: 470px;
  margin-top: 42.5px;
  margin-bottom: 93.5;
  line-height: 26px;
}

.text-content {
  width: 519px;
  margin-bottom: 51px;
  line-height: 26px;
}

.main-card {
  display: flex;
}

.main-card-text {
  width: 300px;
  margin: 23px 50px 0px 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-white);
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 400px;
  background-color: var(--color-blue);
}

.features {
  display: grid;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-item { 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 52px;
}

.features-text-content {
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-dark-brow);
}


.features-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  background-color: var(--color-grey); 
}

.feature-block {
  display: grid;
  justify-self: center;
  text-align: center;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 58px;
}

.search-house {
  width: 568px;
  height: 86px;
  margin-top: 24px;
  background-color: var(--color-brow-default);
  font-family: PT Sans, Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-white);
  border: 0;
  cursor: pointer;
  outline: none;
}

.search-house:hover,
.card-button:hover {
  background-color: var(--color-brow-hover);
}

.search-house:active,
.card-button:active {
  background-color: var(--color-brow-active);
  color: rgba(255 ,255 ,255, 0.3)
}

.logo-index {
  width: 1200px;
  height: 509px;
  background:
    url(/image/welcome.svg) 50% 50% no-repeat,
    url(/image/main-background-photo.jpg) no-repeat;
}

.logo-index::after {
  width: 1200px;
  height: 57px;
  background: url(image/header-ornament.svg) 50% 50% no-repeat;
}

/* Main navigation */

.main-navigation {
  display: grid;
  font-size: 16px;
  font-weight: 700;
}


.main-header-title {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
}

.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.features-title {
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
}

.features-text-content {
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-dark-brow);
}

.main-text-content {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-dark-brow);
}


.caption {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;;
}

.list-unstyled {
  list-style: none;
}


/* Footer */

.page .main-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.page .main-footer-img {
  background-image: url(/image/map.jpg);

  height: 597px;
}

.footer-social {
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
}

.footer-social .copyright {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.copyright .name-copyright-site {
  margin-right: 8px;
}

.phone-block {
  padding-top: 23px;
}


.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  width: 46px;
  height: 48px;
  background-color: var(--color-blue);
}

.social-icon:nth-child(3) {
  padding: 16px 16px 16px 13px;
}


.social-button:hover,
.social-button:focus {
  background-color: var(--color-blue-button);
}

.social-button:active {
  background-color: var(--color-blue-active);
}

.contacts-block a {
  color: var(--color-black);
  text-decoration: none;
}

/* Features */

.text-center {
  text-align: center;
}

.benefits .main-text-content, .main-title {
  color: var(--color-white);
}


/* ------ Catalog Styles ------ */

.apartment-filters { 
  display: flex;
  justify-content: space-around;
  background-image: url(/image/background-photo-inner-page.jpg);
  background-repeat: no-repeat;
}


.filters fieldset {
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 250px;
  border: none;
}

.filters ul {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  font-size: 14px;
  line-height: 21px;
}



/* СheckBox Block */

    /* Check */

.check {
  padding-right: 16px;
}

.check-input {
  position: absolute;
  appearance: none;
}

.check-box {
  position: absolute;
  margin-right: 36px;
  width: 23px;
  height: 23px;
  background-image: url(/image/checkbox-on.svg);
}



.sort-button-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1200px;
}

.sort-price-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.select-house .card {
  display: grid;
}


/* Hotel Item */

.card {
  width: 1054px;
  margin: 0 auto;
}

.card a {
  text-decoration: none;
}

.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels-list-item {
  display: flex;
  align-items: center;
}

.hotels-img {
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.col-1 {
  margin-right: auto;
}

.hotels-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotels-stars {
  margin-top: 0;
  text-align: right;
}

.hotels-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  width: 110px;
  height: 27px;
  background-color: var(--color-dark-white);
  color: var(--color-dark-grey);
  font-size: 14px;
  font-weight: 400;
}

.hotels-rating-icon {
  display: inline-block;
  width: 19px;
  height: 17px;
  background-image: url(/image/raiting-stars.svg);
}

.hotels-booking-btn {
  width: 142px;
  height: 27px;
  padding: auto;
  color: var(--color-white);
  background-color: var(--color-brow-default);
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.hotels-details-btn {
  display: inline-block;

  width: 110px;
  height: 24px;
  padding-top: 3px;
  color: var(--color-white);
  background-color: var(--color-blue);
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  outline: none;
  text-align: center;
}

.hotels-details-btn:hover {
  background-color: var(--color-blue-button);
}

.hotels-details-btn:active {
  background-color: var(--color-blue-active);
  color: var(--color-text-active);
}

/* Modal */

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 568px;
  left: 50%;
  transform: translate(-50%);
  top: 50%;
  height: 395px;
  background-color: var(--color-white);

}

.modal .modal-btn {
  width: 458px;
  height: 58px;
  background-color: var(--color-blue);
  outline-color: var(--color-blue);
  border: none;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--color-white);
  text-transform: uppercase;
}

.date-form input[type="text"] {
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  padding-left: 13px;
  border: var(--color-dark-white);
  background-color: var(--color-dark-white);
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.date-form input[type="text"]:hover {
  background-color: var(--color-form-grey);
  outline-color: var(--color-form-grey);
}

.date-form input[type="text"]:active {
  background-color: var(--color-white);
  border-color: var(--color-form-grey);
  outline-color: var(--color-form-grey);
}

.date-input {
  margin-left: 5px;
}

.form-icon {

}

.date-form label { 
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: bold;
  line-height: 26px;
  padding-right: 20px; 
  font-size: 14px;
}


.block-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 114px;
  height: 38px;
  background-color: var(--color-dark-white);
}

.main-switch-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--color-black);
  font-weight: 700;
}

