/* Variables */

:root {
  --color-brow-default: #766357;
  --color-brow-hover: #604E43;
  --color-brow-active: #503E33;
  --color-pale-brow: #6A6A6A;
  --color-brow-button: #503E33;
  --color-blue: #81B3D2;
  --color-blue-button: #669EC0;
  --color-blue-active: #5496BD;
  --color-dark-brow: #333333;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #EEEEEE;
  --color-ligth-grey: #A9A9A9;
  --color-ultra-light-grey: #CACACA;
  --color-text-active: rgba(255, 255, 255, 0.3);
  --color-dark-white: #F2F2F2;
  --color-dark-grey: #666666;
  --color-form-grey: #EBEBEB;
  --main-font-family: PT Sans, Arial, sans-serif; 
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  font-style: normal;
  text-transform: uppercase;
  position: relative;
  background-color: var(--color-white);
  min-height: 100%;
  min-width: 1200px; 
}

.index-grid {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.main-header,
.main-footer,
.main-container {
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-container {
  display: grid;
}


/* User navigation */



.site-navigation {
 display: flex;
 flex-wrap: wrap;
 padding: 20px 0 20px 0;
 align-items: center;
 margin: 0;
}

.site-navigation li {
  width: 25%;
  box-sizing: border-box;
}

.site-navigation li:last-child,
.site-navigation li:nth-last-child(2) {
  text-align: right;
}

.site-navigation li:last-child {
  padding-right: 72px;
}

.site-navigation li:first-child {
  padding-left: 72px;
}

.main-header .main-header-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.site-navigation a:hover {
  color: var(--color-blue);
}

.site-navigation a:focus {
  color: var(--color-ultra-light-grey);
}

.main-navigation a {
  text-decoration: none;
  color: var(--color-black)
}


.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
}

.promo-content {
  width: 470px;
  margin-top: 42.5px;
  margin-bottom: 93.5;
  line-height: 26px;
}

.text-content {
  width: 519px;
  margin-bottom: 51px;
  line-height: 26px;
}

.main-card {
  display: flex;
}

.main-card-text {
  width: 300px;
  margin: 23px 50px 0px 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-white);
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 400px;
  background-color: var(--color-blue);
}

.features {
  display: grid;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-item { 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 52px;
}

.features-text-content {
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-dark-brow);
}


.features-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  background-color: var(--color-grey); 
}

.feature-block {
  display: grid;
  justify-self: center;
  text-align: center;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 58px;
}

.search-house {
  width: 568px;
  height: 86px;
  margin-top: 24px;
  background-color: var(--color-brow-default);
  font-family: PT Sans, Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-white);
  border: 0;
  cursor: pointer;
  outline: none;
}

.search-house:hover,
.card-button:hover {
  background-color: var(--color-brow-hover);
}

.search-house:active,
.card-button:active {
  background-color: var(--color-brow-active);
  color: rgba(255 ,255 ,255, 0.3)
}

.logo-index {
  width: 1200px;
  height: 509px;
  background:
    url(/image/header-ornament.svg) 50% 100% no-repeat,
    url(/image/welcome.svg) 50% 50% no-repeat,
    url(../image/main-background-photo.jpg) no-repeat;
}

/* Main navigation */

.main-navigation {
  position: relative;
  display: grid;
  font-size: 16px;
  font-weight: 700;
}


.main-header-title {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
}

.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.features-title {
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
}

.features-text-content {
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-dark-brow);
}

.main-text-content {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-dark-brow);
}


.caption {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;;
}

.list-unstyled {
  list-style: none;
}


/* Footer */

.page .main-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.page .main-footer-img {
  background-image: url(/image/map.jpg);

  height: 597px;
}

.footer-social {
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
}

.footer-social .copyright {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.copyright .name-copyright-site {
  margin-right: 8px;
}

.phone-block {
  padding-top: 23px;
}


.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  width: 46px;
  height: 48px;
  background-color: var(--color-blue);
}

.social-icon:nth-child(3) {
  padding: 16px 16px 16px 13px;
}


.social-button:hover,
.social-button:focus {
  background-color: var(--color-blue-button);
}

.social-button:active {
  background-color: var(--color-blue-active);
}

.contacts-block a {
  color: var(--color-black);
  text-decoration: none;
}

/* Features */

.text-center {
  text-align: center;
}

.benefits .main-text-content, .main-title {
  color: var(--color-white);
}


/* ------ Catalog Styles ------ */

.form-title {
  display: grid;
  grid-template-columns: 208px 192px 400px 400px;
  grid-template-rows: 217px;
  background-color: var(--color-blue);
  background-image: url(../image/background-photo-inner-page.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  color: var(--color-white);

}

.hostel-infrastructure {
  grid-column: 1 / 2;
  margin: 0px;
  padding: 24px 0px 32px 73px;
  border: 0px;
  display: flex;
  flex-wrap: wrap;
}

.hostel-infrastructure ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.hostel-type {
  grid-column: 2 / 3;
  margin: 0px 0px 0px 119px;
  padding: 24px 0px 32px;
  border: 0px;
  display: flex;
  flex-wrap: wrap;
}

.hostel-type ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 125px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.filter-item {
  grid-column: 4 / 5;
  position: relative;
  margin: 0px;
  padding: 0px 73px 32px 10px;
  border: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.titleform {
  margin: 0px;
  padding-top: 26px;
  font-family: var(--main-font-family);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 21px;
  text-align: start;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-option input[type="checkbox"] {
  display: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url(../image/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -39px;
  width: 26px;
  height: 23px;
  background-image: url(../image/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox label {
  margin-left: 39px;
}

.price-controls {
  display: flex;
  flex-wrap: nowrap;
  vertical-align: middle;
  width: 313px;
  height: 32px;
  margin: 10px 5px 0px 0px;
  border: 2px solid var(--color-white);
  border-radius: 2px;
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.price-controls input::-webkit-input-placeholder {
  color: var(--basic-white);
  opacity: 1;
  text-transform: uppercase;
  text-align: start;
}

.price-controls input::-moz-placeholder {
  color: var(--basic-white);
  opacity: 1;
  text-transform: uppercase;
  text-align: start;
  vertical-align: middle;
}
.price-controls input:-moz-placeholder {
  color: var(--basic-white);
  opacity: 1;
  text-transform: uppercase;
  text-align: start;
  vertical-align: middle;
}
.price-controls input:-ms-input-placeholder {
  color: var(--basic-white);
  opacity: 1;
  text-transform: uppercase;
  text-align: start;
}

.price-controls input {
  width: 40px;
  height: 32px;
  padding: 0px 0px 4px;
  margin: 0px 0px 0px 2px;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-white);
}

.price-controls label:nth-of-type(1) {
  height: 32px;
  margin: 0px 45px 0px 64px;
}

.price-controls label:nth-of-type(2) {
  margin-left: 45px;
}

.filter-item .price-controls::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 170px;
  width: 2px;
  height: 22px;
  background-color: var(--color-white);
  transform: translateX(-50%) translateY(-50%);
}

.range-filter{
  position: relative;
  margin: 0px;
  padding: 0px;
}
.range-max {
  position: absolute;
}
.range-controls {
  position: relative;
  width: 319px;
  height: 19px;
  margin: 0px;
  padding: 0px;
}
.range-controls .scale {
  height: 2px;
  background: var(--basic-white);
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: -50%;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: var(--basic-graylight);
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 1px;
}
.range-controls .toggle-max {
  left: 56px;
}
.toggle:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.button-show {
  width: 137px;
  height: 36px;
  padding: 0px;
  margin-right: 12px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  background-color: transparent;
  font:14px/21px "PT Sans";
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
}
.button-show:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.hostel-price {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-bottom: 22px;
  padding-top: 10px;
  border: 0px;
}

.hostel-price-input {
  display: flex;
  flex-wrap: nowrap;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  margin-bottom: 20px;
}
.hostel-price-input input {
  width: 158px;
  height: 26px;
  background-color: transparent;
}


.show {
  width: 137px;
  height: 37px;
  color: var(--basic-white);
  border: 1px solid #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.sorting {
  padding-left: 73px;
  padding-right: 73px;
  height: 56px;
  background-color: var(--basic-white);
  display: flex;
  align-items: center;
}
.sorting-title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.sorting-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  order: -1;
  margin-right: 46px;
}
.sorting-list {
  list-style: none;
  width: 239px;
  display: flex;
  justify-content: space-between;
}
.sorting a:link {
  color: var(--basic-black);
  opacity: 0.3;
}
.sorting a:hover {
  color: var(--basic-blue-light);
}
.sorting a:active {
  color: var(--basic-black);
}
.sorting a:visited {
  color: var( --basic-blue-light);
}



/* Hotel Item */


.card {
  width: 1054px;
  margin: 0 auto;
}

.card a {
  text-decoration: none;
}

.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels-list-item {
  display: flex;
  align-items: center;
}

.hotels-img {
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.col-1 {
  margin-right: auto;
}

.hotels-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotels-stars {
  margin-top: 0;
  text-align: right;
}

.hotels-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  width: 110px;
  height: 27px;
  background-color: var(--color-dark-white);
  color: var(--color-dark-grey);
  font-size: 14px;
  font-weight: 400;
}

.hotels-rating-icon {
  display: inline-block;
  width: 19px;
  height: 17px;
  background-image: url(/image/raiting-stars.svg);
}

.hotels-booking-btn {
  width: 142px;
  height: 27px;
  padding: auto;
  color: var(--color-white);
  background-color: var(--color-brow-default);
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.hotels-details-btn {
  display: inline-block;

  width: 110px;
  height: 24px;
  padding-top: 3px;
  color: var(--color-white);
  background-color: var(--color-blue);
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  outline: none;
  text-align: center;
}

.hotels-details-btn:hover {
  background-color: var(--color-blue-button);
}

.hotels-details-btn:active {
  background-color: var(--color-blue-active);
  color: var(--color-text-active);
}

/* Modal */

.appointment-info {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 200px;
  padding: 55px;
  width: 458px;
  height: 286px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.appointment-item {
  position: relative;
  padding: 0px;
  margin: 0px;
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.appointment-item label {
  padding: 6px 16px 0px 0px;
}

.appointment-item input {
  position: absolute;
  right: 0px;
  width: 333px;
  height: 38px;
  padding: 0px 0px 0px 13px;
  border: 0px;
  outline: none;
  background-color: var(--color-dark-white);
}

.appointment-item input:hover {
  background-color: var(--color-form-grey);
}

.appointment-item input:focus {
  width: 329px;
  height: 34px;
  background-color: var(--color-white);
  border: 2px solid #E5E5E5;
}

.appointment-item input::placeholder {
  color: var(--color-black);
  opacity: 1;
  text-align: start;
  font-weight: 700;
  text-transform: uppercase;
}

.but-call-arrival {
  position: absolute;
  top: 56px;
  right: 55px;
  width: 22px;
  height: 23px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  outline: none;
  background-color: transparent;
  color: var(--color-ligth-grey);
}
.but-call-arrival:focus {
  color: var(--color-black);
}
.but-call-arrival:active {
  color: var(--color-blue);
}
.but-call-departure {
  position: absolute;
  top: 121px;
  right: 55px;
  width: 22px;
  height: 23px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  outline: none;
  background-color: transparent;
}

.svg-change {
  width: 38px;
  height: 38px;
  fill: var(--color-ligth-grey);
  border: none;
}
.svg-change:hover path {
  fill: var(--color-black);
  border: none;
}
.svg-change:active path {
  fill: var(--color-blue);
  border: transparent;
  outline: transparent;
}
.number .svg-change {
  width: 38px;
  height: 38px;
  fill: var(--color-ligth-grey);
  border: none;
}
.number {
  width: 458px;
  height: 38px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.item-number input::placeholder {
  color: var(--basic-black);
  text-align:center;
  font-weight: 700;
  opacity: 1;
}

.item-number {
  margin: 0px;
  padding: 0px;
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-black);
}

.adults-number {
  width: 226px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adults-number label {
  margin: 0px;
  padding: 0px 41px 0px 0px;
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-black);
}
  
.but-plus,
.but-min {
  width: 38px;
  height: 38px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  outline: none;
  background-color: var(--color-dark-white);
}
.but-min {
  padding-bottom: 4px;
}
.childrens-number {
  width: 179px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.childrens-number label {
  margin: 0px;
  padding: 0px 27px 0px 0px;
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-black);
}

.number input {
  width: 38px;
  height: 38px;
  background-color: var(--color-dark-white);
  border: 0px;
  padding: 0px;
  outline: none;
  text-align: center;
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}
.number input:hover {
  background-color: var(--color-form-grey);
}
.number input:focus {
  width: 34px;
  height: 34px;
  border: 2px solid #E5E5E5;
  background-color: var(--color-white);
}
.button-search {
  width: 458px;
  height: 58px;
  border: 0px;
  margin-top: 38px;
  padding: 0px;
  padding-left: 2px;
  outline: none;
  font-family: var(--main-font-family);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-white);
  text-transform: uppercase;
  background-color: var(--color-blue);
}

.button-search:hover {
  background-color: var(--color-blue-button);
}
.button-search:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--color-blue-active);
}

.modal-show {
  display: block;
}